:root {
  --primary-color: #0A1128;
  --white-color: #FFFFFF;
  --light-gray-color: #EEEEEE;
  --secondary-color: crimson;
  --vermillion-color: rgb(222, 16, 22);
  --gap: 3rem;
  --black-color: rgb(94, 94, 94);
  --base-color: #0f1bfa;
}